# This is Git's per-user configuration file.
[user]
	useconfigonly = true

[includeIf "gitdir:~/Documents/labs/"]
	path = ~/.config/labs.gitconfig

[includeIf "gitdir:~/Documents/workspaces/"]
	path = ~/.config/workspaces.gitconfig
[alias]
	l = log --pretty=custom
	lg = log --graph --pretty=custom
	ln = log --pretty=\"format:%C(magenta)%h %C(yellow)%as %C(white)%s %Cgreen<%an>\" --name-status
	find = log --pretty=\"format:%C(magenta)%h %C(yellow)%as %C(white)%s %Cgreen<%an>\" --name-status --grep
	findme = log --pretty=\"format:%C(magenta)%h %C(yellow)%as %C(white)%s %Cgreen<%an>\" --author=sgennrw --name-status --grep
	sup = log --pretty=custom --author=sgennrw
	d = diff -- . ':!*package-lock.json' ':!*yarn.lock'
	s = status
	c = checkout
	cb = checkout -b
  	untrack = update-index --skip-worktree # ignore changes to a file that's already tracked
  	track = update-index --no-skip-worktree # start tracking changes again
  	ignored = !git ls-files -v | grep ^S  # list which files are currently ignored (--skip-worktree)
[color]
	ui = true
[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only
[add.interactive]
	useBuiltin = false # required for git 2.37.0

[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	features = side-by-side line-numbers decorations
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
[pretty]
	custom = "%C(magenta)%h%C(red)%d %C(yellow)%as %C(bold white)%s %C(green)<%an>"
	#                     │        │            │            │             └─ author name
	#                     │        │            │            └─ message
	#                     │        │            └─ date (short)
	#                     │        └─ decorations (branch, heads or tags)
	#                     └─ hash (abbreviated)
[init]
	defaultBranch = main
[status]
	short = true
[merge]
	conflictstyle = diff3
[fetch]
	prune = true
[push]
	default = current
[diff]
	colorMoved = default
